
.sidebar { background-color:#eee; }
.sidebar a.active { font-weight: bold; }

.reception .payment-search .search-result {
    height: 20rem;
    overflow-y: auto
}

.reception .payment-search .search-result tr {
    cursor: pointer;
}

.dropdown-menu {
    border-color: orange;
}

#index-hotline-part .dropdown-item {
    font-size: 80%;
}