.modal-dialog-backdrop {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #5a6268;
    opacity: 0.4;
    overflow-y: auto;
    z-index: 2001;
}

.modal-dialog-content {
    position: absolute;
    top: 2rem;
    left: 50vw;
    transform: translateX(-50%);
    background-color: white;
    margin-bottom: 2rem;
    padding: 1rem;
    opacity: 1.0;
    z-index: 2002;
}

.modal-dialog-content h3 {
    margin: 0 0 0.5em 0;
    padding: 0;
}

.modal-dialog-content .command-box {
    text-align: right;
    margin-top: 0.5em;
}
