*.db
*.sql
*.zip
*.sublime-workspace
*.sublime-project
node_modules
target
work
.idea
*.iml
*.log
rcpt-data*
Rcpt*.input
.vs
.vagrant
docker/data
docker/builds/node-services/src
docker/builds/database-service/*.jar
ansible/profiles
__pycache__
*.pyc
file-uploads
server/webroot/portal/tmp









