a:hover {text-decoration: none;}

.sidebar { background-color:#eee; }
.sidebar a.active { font-weight: bold; }

.practice .practice-title { background-color: #eee; font-weight: bold; padding: 3px 6px; }
.practice .practice-record.current-visit .practice-title { background-color: #ff9; }
.practice .practice-record.current-visit .record-left-commands {
    border-left: 4px solid orange;
    padding-left: 8px;
}
.practice .practice-record.current-visit .record-text {
    border-left: 4px solid orange;
    padding-left: 8px;
}
.practice .practice-record.temp-visit .practice-title { background-color: #9ff; }

.hotline .dropdown-menu {
    border-color: orange;
}

.hotline .dropdown-item {
    font-size: 80%;
}

.workarea {
    border: 1px solid #ccc;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    padding: 1em;
}

.reception .payment-search .search-result {
    height: 20rem;
    overflow-y: auto
}

.reception .payment-search .search-result tr {
    cursor: pointer;
}

.form-control-border {
    border: 1px solid #ced4da;
    border-radius: 0.25em;

}