:root {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0 2em;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.main-title {
    font-size: 2rem;
    background-color: #666;
    color: white;
    padding: 0.5em;
    margin: 0.5em 0;
}

.main-container {
    display: grid;
    grid-template-columns: 12em 1em 1fr;
}

.sidebar {
    grid-column: 1;
    background-color: #eee;
}

.sidebar ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

.sidebar a {
    text-decoration: none;
}

.main {
    grid-column: 3;
    width: 100%;
}

.main h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.modal-dialog-backdrop {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #5a6268;
    opacity: 0.4;
    overflow-y: auto;
    z-index: 1;
}

.modal-dialog-content {
    position: absolute;
    top: 2rem;
    left: 50vw;
    transform: translateX(-50%);
    background-color: white;
    margin-bottom: 2rem;
    padding: 1rem;
    z-index: 2;
}

.modal-dialog-content h3 {
    margin: 0 0 0.5em 0;
    padding: 0;
}

.modal-dialog-content .command-box {
    text-align: right;
    margin-top: 0.5em;
}

.dropdown-links {
    display: none;
    position: absolute;
    z-index: 2;
    opacity: 1.0;
    background-color: white;
    padding: 1em;
    border: 1px solid #ccc;
}

.dropdown-links a {
    display: block;
}

.dropdown-links a + a {
    margin-top: 0.5em;
}

.dropdown-backdrop {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    overflow-y: auto;
    z-index: 1;
}

.select-wqueue-dialog select {
    width: 20em;
}

.select-wqueue-dialog select option {
    margin: 0.2em;
    font-size: 1rem;
}

.select-wqueue-dialog select option + option {
    margin-top: 0;
}


