:root {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.main-title {
    font-size: 2rem;
    background-color: #666;
    color: white;
    padding: 0.5em;
    margin: 0.5em 0;
}

.main-container {
    display: grid;
    grid-template-columns: 12em 1em 1fr;
}

.sidebar {
    grid-column: 1;
    background-color: #eee;
}

.sidebar ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

.sidebar a {
    text-decoration: none;
}

.main {
    grid-column: 3;
    width: 100%;
}