:root {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 1em 2em;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

a {
    text-decoration: none;
}

button {
    font-size: 1rem;
    border-radius: 0.3em;
    border-width: 1px;
}

input {
    font-size: 1rem;
    padding: 0.2em;
    margin: 0.5em 0;
}

input[type="radio"] {
    margin-right: 0.15em;
}

select {
    width: 100%;
    padding: 0.5em;
}

option {
    font-size: 1rem;
}

textarea {
    width: calc(100% - 1em);
    font-size: 1rem;
    padding: 0.2em;
}

div {
    word-break: break-all;
}

span {
    overflow-wrap: break-word;
}

.hidden {
    display: none;
}

.sep-row {
    margin-top: 1em;
}

.form-table {
    display: table;
}

.smaller {
    font-size: 0.8em;
}

.form-table > div {
    display: table-row;
}

.form-table > div > *:first-child {
    text-align: right;
}

.form-table > div > *:first-child::after {
    content: "：";
}

.form-table > div > * {
    display: table-cell
}

span.checkbox-label {
    cursor: pointer;
}

.main-title {
    font-size: 2rem;
    background-color: #666;
    color: white;
    padding: 0.5em;
    margin: 0 0 0.5em 0;
}

.main-container {
    display: grid;
    grid-template-columns: 12em 1em 1fr;
}

.sidebar {
    grid-column: 1;
    background-color: #eee;
}

.sidebar ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

.sidebar a {
    text-decoration: none;
}

body > .main-container > .main {
    grid-column: 3;
    width: 100%;
}

body > .main-container > .main h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.workarea {
    border: 1px solid #ccc;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.workarea h3,
.right-workarea h3 {
    margin: 0;
    padding: 0;
}

.modal-dialog-backdrop {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #5a6268;
    opacity: 0.4;
    overflow-y: auto;
    z-index: 1;
}

.modal-dialog-content {
    position: absolute;
    top: 2rem;
    left: 50vw;
    transform: translateX(-50%);
    background-color: white;
    margin-bottom: 2rem;
    padding: 1rem;
    z-index: 2;
}

.modal-dialog-content h3 {
    margin: 0 0 0.5em 0;
    padding: 0;
}

.modal-dialog-content .command-box {
    text-align: right;
    margin-top: 0.5em;
}

.dropdown-links {
    /*display: none;*/
    visibility: hidden;
    position: absolute;
    z-index: 2;
    opacity: 1.0;
    background-color: white;
    padding: 0.8em;
    border: 1px solid #ccc;
}

.dropdown-links a {
    display: block;
    margin: 0;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.dropdown-links a:hover {
    background-color: #eee;
}

.dropdown-backdrop {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    overflow-y: auto;
    z-index: 1;
}

.command-box {
    margin-top: 0.5em;
    vertical-align: middle;
    text-align: right;
}

.select-wqueue-dialog select {
    width: 20em;
}

.select-wqueue-dialog select option {
    margin: 0.2em;
    font-size: 1rem;
}

.select-wqueue-dialog select option + option {
    margin-top: 0;
}

.search-patient-dialog select,
.select-recent-visit-dialog select,
.select-todays-visit-dialog select,
.select-prev-visit-dialog select {
    width: 20em;
    font-size: 1rem;
    margin-top: 0.5em;
    padding: 0.2em;
}

.practice > .main {
    display: grid;
    grid-template-columns: 1fr 16em;
}

.practice > .main > .center {
    grid-column: 1;
}

.practice > .main > .right {
    grid-column: 2;
    padding-left: 1em;
}

.practice > .main > .right > * + * {
    margin-top: 1em;
}

.practice .patient-info .detail {
    display: table;
}

.practice .patient-info .detail .table-row {
    display: table-row;
}

.practice .patient-info .detail .table-row div {
    display: table-cell;
    vertical-align: middle;
}

.practice .patient-info .detail .table-row div.label::after {
    content: "："
}

.practice .patient-info .detail .table-row div.label {
    text-align: right;
}

.practice .patient-info .detail .table-row div.value {
    padding-left: 0.5em;
}

.practice .patient-manip button,
.practice .patient-manip a {
    vertical-align: middle;
}

a.hidden + .sep  {
    display: none;
}

.practice .records {
    margin-top: 0.5em;
}

.practice .record {
    display: grid;
    grid-template-columns: 50% 50%;
}

.practice .record + .record {
    margin-top: 1em;
}

.practice .record .title {
    grid-row: 1;
    grid-column: 1 / 3;
}

.practice .record .title {
    background-color: #eee;
    font-weight: bold;
    padding: 0.2em 0.5em;
}

.practice .record .title .menu {
    float: right;
}

.practice .record.current-visit .text,
.practice .record.current-visit .record-left-commands {
    border-left: 4px solid orange;
    padding-left: 8px;
}

.practice .record.current-visit .title {
    background-color: #ff9;
}

.practice .record.temp-visit .title {
    background-color: #9ff;
}

.practice .record .left {
    grid-row: 2;
    grid-column: 1;
    margin-top: 0.5em;
    padding-right: 0.5em;
}

.practice .record .right {
    grid-row: 2;
    grid-column: 2;
    margin-top: 0.5em;
    padding-left: 0.5em;
    border-left: 1px solid #ccc;
}

.practice .record .text + .text {
    margin-top: 0.5em;
}

.practice .record .text-edit textarea,
.practice .record .text-enter textarea {
    height: 10em;
}

.practice .record .record-left-commands {
    margin-top: 0.5em;
}

.practice .record .send-fax {
    margin: 1em 0;
}

.practice .record .send-fax,
.practice .fax-progress {
    border: 1px solid #ccc;
    border-radius: 0.5em;
    padding: 1em;
}

.practice .fax-progress .title {
    margin-bottom: 0.5em;
}

.practice .record .shinryou-add-regular .items-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.practice .record .shinryou-add-regular .left-items {
    grid-column: 1 / 2;
    padding-right: 1em;
}

.practice .record .shinryou-add-regular .right-items {
    grid-column: 2 / 3;
}

.practice .record .shinryou-add-regular .right-items input[type=checkbox],
.practice .record .shinryou-add-regular .right-items input[type=checkbox] {
    margin-left: -1em;
    padding-left: 1em;
}

.practice .record .shinryou-add-regular .bottom-items {
    grid-column: 1 / 3;
}

.practice .record .shinryou-add-regular .bottom-items .shinryou-item + .shinryou-item {
    margin-left: 0.5em;
}

.practice .record .shinryou-search.workarea .search-result select {
    width: 100%;
}

.practice .disease-menu {
    margin-top: 0.5em;
}

.practice .disease-current .disp {
    cursor: pointer;
}

.practice .disease-select .show,
.practice .disease-edit .show{
    margin-bottom: 0.5em;
    border: 1px solid gray;
    border-radius: 0.5em;
    padding: 0.5em;
}

.practice .disease-select .command-wrapper {
    margin: 0.5em 0;
}

.practice .disease-edit select.end-reason {
    width: auto;
    font-size: 1rem;
}
