.sidebar { background-color:#eee; }
.nav a.active { font-weight: bold; }

.practice-title { background-color: #eee; font-weight: bold; padding: 3px 6px; }
.practice-title.current-visit { background-color: #ff9; }
.practice-title.temp-visit { background-color: #9ff; }
